{% extends "base.html" %}
{% block navbar %}




{% endblock navbar %}
 {% block body %}


<!-- Vertical navbar -->
<div class="vertical-nav" id="sidebar">
  <div class="py-3 px-3 mb-3 navl">
    <div class="media d-flex align-items-center justify-content-center">
      <img src="../static/logoimage/logo.jpeg" width="180" height="60" class="d-inline-block align-center ml-4" alt="">
      <div class="media-body">

        
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="AdminHome" class="nav-link text-dark active">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Agency
            </a>
    </li>
    <li class="nav-item">
      <a href="AdminUser" class="nav-link text-dark">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                User
            </a>
    </li>
    
    
    
  </ul>

  

  
  </ul>
   <div class="card-footer text-muted">
    <form action="logout"><button type="submit" class="btn btn-primary">Logout</button></form>
  </div>
</div>
<!-- End vertical navbar -->


<!-- Page content holder -->
<div class="page-content p-3" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm p-1 " data-bs-target="#sidebar"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>
      

<!-- Button trigger modal -->


<!-- Modal -->


<!--Table -->

<div class="main2">
  <h5 style="text-align: center; padding: 20px 0">User List</h5>
  <div class="row" style="justify-content: space-between;">
      <div class="col-lg-6 col-sm-6">
        
            <div class="card-content">
              
                  <input class="form-control" id="myInput" type="text" placeholder="Search..">
                  <br>
            
            </div>
        
      </div>

      
    </div>
  <div class="form">
    
   <div class="tablecard m-2" style="border: 2px solid transparent; display: flex; align-items: center; justify-content: center;">

 <table class="table table-striped">
   <thead>
     <tr>
      <th class="tabletr">User</th>
    
        {% comment %} <th class="tabletr">SSL Status</th>
       
        <th class="tabletr">Fault</th> {% endcomment %}
        <th class="tabletr">View Data</th>
        
    </tr>
   </thead>
   <tbody id="myTable">
      {% for p in user_list %}
      <tr>
              {% if p.is_superuser %}
              {% elif p.first_name == "" %}
              <td>No Name Present: {{p.username}} (Username)</td>
              {% else %}
              <td>{{p.first_name}}</td>
              {% endif %}
              {% if p.is_superuser %}
              {% else %}
              <td>
                <form action="sslList" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="username" value="{{p.username}}">
                  <input class="select1 select2" style="border-radius: 10px;  background-color: transparent; " type="submit" value="View Data"/>
                </form>
              </td>
              {% endif %}
             
            </tr>
            {% endfor %}
    </tbody>
 </table>

    
  </div>
 </div>

</div>
</div>
<footer id="footer">


<div class="footer-inner card-footer text-muted">
<div class="container pb-2 pt-2 navl" style="display: flex; text-align: center; justify-content: center; color:white">
  Copyright@2021 - VTECH SUN-1.0 <br>
</div>
</div>

</footer>

   <!--Toggle Button-->
<script> $(function() { 
  $('#sidebarCollapse').on('click', function() {
    $('#sidebar, #content').toggleClass('active');
    console.log("hello")
  });
});</script>

<!--Table-->
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>



<!--Adding Active Class to Nav links in side bar-->
<script>
 $(document).on('click', 'ul li', function(){
   $(this).addClass('active').siblings().removeClass('active')
 })

</script>


          {% csrf_token %}
     
{% endblock body %}
