{% extends "base.html" %} {% block navbar %}

<nav class="navbar navbar-expand-lg navbar navl">
  <a class="navbar-brand" href="#">
    <img
      src="../static/logoimage/logo.jpeg"
      width="110"
      height="40"
      class="d-inline-block align-top m-1"
      alt=""
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="nav navbar-nav ms-auto" id="navbarText">
      <li>
        <h6 style="color: white">Welcome : {{ request.user.username }}</h6>
      </li>
      <li>
        <a href="#" style="text-decoration: none; color: yellow">Logout</a>
      </li>
    </ul>
  </div>
</nav>

{% endblock navbar %} {% block body %}

<div class="main2">
  <h5 style="text-align: center; padding: 20px 0">SSL Serial Numbers</h5>
  <div class="form">
    <form
      action="table"
      style="display: flex; flex-direction: row; padding-right: 20px"
      method="POST"
    >
      {% csrf_token %}
      <h6 class="select1" style="padding: 0 20px">Date</h6>
      <input class="select1" type="date" name="date" />
      <input class="select1" type="submit" />
    </form>

    <table class="tbody" style="padding: 20px 0px; height: 500px">
      <tr>
        <th>Serial no.</th>
        <th>Created at</th>
        <th>Last Communication</th>
        <th>SSL Status</th>
        <th>Battery Status</th>
        <th>Battery Voltage (V)</th>
        <th>Panel Power (W)</th>
        <th>Panel Voltage (V)</th>
        <th>Energy Today</th>
        <th>Total Energy</th>
        <th>Fault</th>
        <th>Modify</th>
        <th>delete</th>
      </tr>
      {% for p in ssl_data %}
      <tr>
        <td>{{p.serial_no}}</td>
        <td>{{p.created_at.date}}</td>
        <td>{{p.updated_at}}</td>
        <td>{{p.status}}</td>
        <td>{{p.battery_status}}</td>
        <td>{{p.battery_voltage}}</td>
        <td>{{p.power_panel}}</td>
        <td>{{p.panel_voltage}}</td>
        <td>{{p.energy_curr}}</td>
        <td>{{p.total_energy}}</td>
        <td>No Fault</td>
        <td>
          {% comment %}
          <form action="modify" method="POST">
            {% csrf_token %}
            <input type="hidden" name="time" value="{{p.updated_at}}" />
            <input
              class="select1 select2"
              style="
                border-radius: 10px;
                color: white;
                background-color: transparent;
              "
              type="submit"
              value="Modify"
            />
          </form>
          {% endcomment %}
        </td>
        <td>
          <form action="delete" method="PUT">
            {% csrf_token %}
            <input type="hidden" name="time" value="{{p.updated_at}}" />
            <input
              class="select1 select2"
              style="
                border-radius: 10px;
                color: white;
                background-color: transparent;
              "
              type="submit"
              value="Delete"
            />
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock body %}
